<div class="boxbaseP30">
<% @notifications.each do |note| %>
    <% if note.action == 'news' %>
    <h3><%= link_to "News",news_path(note.target_id),class: "h3" %>arrived.</h3>
    <% elsif note.action == 'schedule' %>
    <h3><%= link_to "Event",schedulesshow_path(note.target_id),class: "h3" %>arrived.</h3>
    <% else %>
    <h2>No notifications here.</h2>
    <% end %>
<% end %>
</div>