<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link href='fullcalendar/main.css' rel='stylesheet' />
    <script src='fullcalendar/main.js'></script>
    <script>
    
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          contentHeight: 600,
          dateClick: function(info) {
            alert('Date: ' + info.dateStr);
            alert('Resource ID: ' + info.resource.id);
        },
          events: [
            {
              id: 'a',
              title: 'my event',
              start: '2022-10-01'
            }
          ],
          
          headerToolbar: {
            left: "prev,next,today",
            center: "title",
            right:'dayGridMonth,timeGridWeek,dayGridDay,listYear'
        },
        eventClick: function(arg) {
            if (confirm('Are you shure to delete？')) {
                arg.event.remove()
            }
        },
        dateClick:function(event, jsEvent){
			var title = prompt('please make a title:', event.title);
			if(title && title!=""){
				event.title = title;
				calendar.fullCalendar('updateEvent', event); //イベント（予定）の修正
			}else{
				calendar.fullCalendar("removeEvents", event.id); //イベント（予定）の削除				
            }
        },
          editable: true,
          selectable: true,
          droppable: true,
          displayEventTime: false,
          slotDuration: '01:00'
        });
        calendar.render();
      });

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html>