<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <%= stylesheet_link_tag 'fullcalendar/main.css', media: 'all' %>
    <%= javascript_include_tag 'fullcalendar/main.js' %>
    <script>
        
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          contentHeight: 600,
          timeFormat: 'H:mm',
          eventColor: '#63ceef',
          
            
          events: [
            {
            title: "Ramadan",
            start: "2022-11-01",
            end: "2022-11-04",
            extendedProps: {
              description: "説明文"
            }
            },
            {
            title: 'gasin',
            start: '2022-11-05',
            end: '2022-11-07',
            color: 'red',
            extendedProps: {
              description: "説明文"
            }
            },
            {
            title: 'event3',
            start: '2022-11-09T12:30:00',
            allDay: false, // will make the time show,
            extendedProps: {
              description: "説明文"
            }
            },
            {
            title: 'event3',
            start: '2022-11-09T12:30:00',
            allDay: false, // will make the time show,
            extendedProps: {
              description: "説明文"
            }
            },
            {
            title: 'event3',
            start: '2022-11-09T12:30:00',
            allDay: false, // will make the time show,
            extendedProps: {
              description: "説明文"
            }
            },
            {
            title: 'event3',
            start: '2022-11-09T12:30:00',
            allDay: false, // will make the time show,
            extendedProps: {
              description: "説明文"
            }
            },
            {
            title: 'event3',
            start: '2022-11-09T12:30:00',
            allDay: false, // will make the time show,
            extendedProps: {
              description: "説明文"
            }
            }
          ],
          
          headerToolbar: {
            left: "prev,next,today",
            center: "title",
            right:'dayGridMonth,timeGridWeek,dayGridDay,listYear'
        },
        eventLimit: true, // for all non-TimeGrid views
            views: {
                timeGrid: {
                eventLimit: 5 // adjust to 6 only for timeGridWeek/timeGridDay
                }
            },
            
    eventClick: function (info) {
        console.log(info.jsEvent.detail);

      if (info.jsEvent.detail == 2) {
        
      }
      //     let title = prompt("Please enter a new title for your event");
      // info.event.setProp("title", title)
          alert(info.event.extendedProps.description);
        },
        views: {
            extendedProps: {
                description: "説明文"
              }
  },
        dateClick: function(info) {
            if (info.dayEl.classList.contains("fc-day-past")) {
                alert("You can't choose.");
                return;
            }
          let title = prompt("Please enter a new title for your event");
          let extendedProps = prompt("Please enter a new detail for your event");
             calendar.addEvent({
              title: title,
              start: info.date,
              allDay: true,
              extendedProps: {
              description: "説明文"
            }
            });
            

    },
    dateClick: function (start, end, jsEvent, view) {
    //クリックした日付情報を取得
    const year = moment(start).year();
    const month = moment(start).month()+1; //1月が0のため+1する
    const day = moment(start).date();
    //イベント登録のためnewアクションを発火
    $.ajax({
        type: 'GET',
        url: '/schedules/events/new',
      }).done(function (res) {
        //イベント登録用のhtmlを作成
        $('.modal-body').html(res);
        //イベント登録フォームの日付をクリックした日付とする
        $('#event_start_time_1i').val(year);
        $('#event_start_time_2i').val(month);
        $('#event_start_time_3i').val(day);
        //イベント登録フォームのモーダル表示
        $('.modal').modal();
      }).fail(function (result) {
        // 失敗処理
        alert('エラーが発生しました。運営に問い合わせてください。')
      });
    },


          editable: true,
          selectable: true,
          droppable: true,
          displayEventTime: false,
          slotDuration: '01:00',
          dayMaxEvents: true,
          allDaySlot: true
        });
        calendar.render();
      });


    </script>
  </head>
  <body>
    <div id='calendar'></div>
    <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  </body>
</html>