<head>
    <meta charset='utf-8' />
    <%= stylesheet_link_tag 'fullcalendar/main.css', media: 'all' %>
    <%= javascript_include_tag 'fullcalendar/main.js' %>
    <script>
        
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          contentHeight: 600,
          timeFormat: 'H:mm',
          eventColor: '#63ceef',
          
          eventSources: [
            '/schedules.json'
          ],
          headerToolbar: {
            left: "prev,next,today",
            center: "title",
            right:'dayGridMonth,timeGridWeek,dayGridDay,listMonth'
        },
        eventLimit: true, // for all non-TimeGrid views
            views: {
                timeGrid: {
                eventLimit: 5 // adjust to 6 only for timeGridWeek/timeGridDay
                }
            },
    eventClick: function (info) {

        $.ajax({
            type: 'GET',
            url:  `/schedules/events/${info.event.id}/show`,
        }).done(function (res) {
            // 成功処理
            // 受け取ったhtmlをさっき追加したmodalのbodyの中に挿入します
            $('#modal-inner').html(res);
            $('#modal1').modal('open');

        })
    },
    eventDrop: function(info) {
    alert(info.event.title + " was dropped on " + info.event.start.toISOString());

    if (!confirm("Are you sure about this change?")) {
      info.revert();
    }
  },
    dateClick: function (info,start, end, jsEvent, view) {
                console.log("OK")
    if (info.dayEl.classList.contains("fc-day-past")) {
        alert("You can't choose.");
        return;
    }  
        //クリックした日付の情報を取得
        const year  = info.date.getFullYear();
        const month = (info.date.getMonth() + 1);
        const day   = info.date.getDate();

        //ajaxでevents/newを着火させ、htmlを受け取ります
        $.ajax({
            type: 'GET',
            url:  '/schedules/events/new',
        }).done(function (res) {
            // 成功処理
            // 受け取ったhtmlをさっき追加したmodalのbodyの中に挿入します
            $('.modal-body').html(res);

            //フォームの年、月、日を自動入力
            $('#event_start_1i').val(year);
            $('#event_start_2i').val(month);
            $('#event_start_3i').val(day);

            $('#event_end_1i').val(year);
            $('#event_end_2i').val(month);
            $('#event_end_3i').val(day);

            //ここのidはevents/newのurlにアクセスするとhtmlがコードとして表示されるので、
            //開始時間と終了時間のフォームを表しているところのidを確認してもらうことが確実です

            $('#modal2').modal('open');

        }).fail(function (result) {
            // 失敗処理
            alert("failed");
        });
    },
          timeZone: 'Asia/Tokyo',
          navLinks: true,
          editable: true,
          selectable: true,
          droppable: true,
          displayEventTime: false,
          slotDuration: '01:00',
          dayMaxEvents: true,
          allDaySlot: true
        });
        calendar.render();
      });


    </script>
</head>
    <body>
    <div id='calendar'></div>
    <!-- ここからモーダル表示部分として追記 -->
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-body">
      </div>
    </div>
<!-- Modal Structure -->
<!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-cont">
      <div id="modal-inner">
      </div>
      </div>
    </div>

  </body>