<%= form_with(model: @schedule, url: schedulesshow_path, remote: true) do |f| %>
    <!-- Modal Structure -->
    <div id="modal" class="modal modals">
      <div class="modal-content-eventshow">
        <h4><%= @schedule.area_id %></h4>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
    <% end %>