<div class="flexbox" style="width:800px;">
<% @news.each do |news| %>
  <%= link_to news_path(news.id) do %>
<div class="row" style="margin:0;">
    <div class="col2 s12 m5">
      <div class="card" style="display:flex;height: 150px;width: 400px; margin:0;">
        <div class="card-image">
          <%=image_tag "cat.png", height: '150', width: '150%' %>
          <span class="card-title"><%= news.title %></span>
        </div>
        <div class="card-content">
        <%= news.created_at.strftime('%Y/%m/%d %H:%M') %>
        <% if current_user.userstyle == 0 %>
        <% end %>
        <div class="fromto">
        <h6>FROM Aエリアpipeline <br>TO Bエリアpipeline</h6>
        </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>