<div class="flexbox">
<div class="row">
    <div class="col2 s12 m5">
      <div class="card" style="display:flex;height: 150px;width: 500px">
        <div class="card-image">
          <%=image_tag "cat.png", height: '150', width: '150%' %>
          <span class="card-title">GASIN</span>
        </div>
        <div class="card-content">
        2022/10/21 16:55<br>
        FROM Aエリアpipeline TO Bエリアpipeline
        <% if current_user.userstyle == 0 %>
        <div class="archive-end">
            <i class="fa-solid fa-user-xmark fa-2xl archive-end"></i>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col2 s12 m5">
      <div class="card" style="display:flex;height: 150px;width: 500px">
        <div class="card-image">
          <%=image_tag "cat.png", height: '150', width: '150%' %>
          <span class="card-title">GASIN</span>
        </div>
        <div class="card-content">
        2022/10/21 16:55<br>
        FROM Aエリアpipeline TO Bエリアpipeline
        <% if current_user.userstyle == 0 %>
        <div class="archive-end">
            <i class="fa-solid fa-user-xmark fa-2xl archive-end"></i>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col2 s12 m5">
    <div class="card" style="display:flex;height: 150px;width: 500px">
      <div class="card-image">
        <%=image_tag "cat.png", height: '150', width: '150%' %>
        <span class="card-title">GASIN</span>
      </div>
      <div class="card-content">
      2022/10/21 16:55<br>
      FROM Aエリアpipeline TO Bエリアpipeline
      <% if current_user.userstyle == 0 %>
      <a class="archive-end">
          <i class="fa-solid fa-user-xmark fa-2xl"></i>
      </a>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col2 s12 m5">
    <div class="card" style="display:flex;height: 150px;width: 500px">
      <div class="card-image">
        <%=image_tag "cat.png", height: '150', width: '150%' %>
        <span class="card-title">GASIN</span>
      </div>
      <div class="card-content">
      2022/10/21 16:55<br>
      FROM Aエリアpipeline TO Bエリアpipeline
      <% if current_user.userstyle == 0 %>
      <div class="archive-end">
          <i class="fa-solid fa-user-xmark fa-2xl archive-end"></i>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>