.post-articles {
    width: 1200px;
    margin: 0 auto;
}

.post-article {
    text-align: center;
    margin-top: 20px;
}

.btn-article {
    background: #d32f2f!important;
    width: 200px;
    &:hover {
        background: darken(#d32f2f, 20%);
    }
}

.boxbaseP30 {
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    overflow:hidden;
}

textarea {
    resize: none;
    height: 250px;
    border-radius: 8px;
    padding: 10px;
}

.admin-icons {
    margin-left: 20px;
}

.newssummary {
    color:#d32f2f;
    font-size: 20px;
    font-weight: 700;
    margin-left: 200px;
}

.archive-end {
    text-align: right;
}

.plan_search {
    padding: 20px;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    overflow:hidden;
}

.index {
    font-size: 15px;
    color: black;
    font-weight: 700;
}

.indexx {
    font-size: 15px;
    color: black;
    font-weight: 700;
    line-break: auto;
}

.listBox_result {
    margin-left: 20px;
    font-size: 20px;
    span {
        color:#d32f2f;
        font-size: 30px;
        font-weight: 700;
    }
}

.image_tag {
    display: block;
}

select {
    display: inline!important;
}

.area-control {
    width: 150px;
}

.section-control {
    width: 150px;
}

.column-img {
    flex-direction: column;
}

.angle-right {
    margin-top: 10px;
    margin-right: 5px;
}

.chips-news {
    margin-top: 10px;
}

.angle-down {
    position: relative;
    left: 75px;
}

.x-mark-news {
    margin-top: 5px;
    margin-right: 5px;
}

.reads {
    color: green;
    font-weight: 700;
}

.fromto {
    width: 250px;
}

.card .card-content {
    padding: 10px;
    margin-left: 10px;
}

.red-chip {
    background: red;
}

.green-chip {
    background: green;
}

.fa-user-xmark {
    margin-left: 50px;
}

.x-mark {
    margin-top: 10px;
    margin-right: 3px;
}

.margin-angle {
    margin-top: 15px;
}

.fa-arrow-rotate-left {
    margin-left: 20px;
}

.angle-space {
    padding: 5px;
    text-align: center;
    width: 300px;
}