.post-articles {
    width: 1200px;
    margin: 0 auto;
}

.post-article {
    text-align: center;
    margin-top: 20px;
}

.btn-article {
    background: #d32f2f!important;
    width: 200px;
    &:hover {
        background: darken(#d32f2f, 20%);
    }
}

.boxbaseP30 {
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    overflow:hidden;
}

textarea {
    resize: none;
    height: 250px;
    border-radius: 8px;
    padding: 10px;
}

.admin-icons {
    margin-left: 20px;
}

.newssummary {
    color:#d32f2f;
    font-size: 20px;
    font-weight: 700;
    margin-left: 40px;
}

.archive-end {
    text-align: right;
}

.plan_search {
    padding: 20px;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    overflow:hidden;
}

.index {
    font-size: 15px;
    color: black;
    font-weight: 700;
}

.indexx {
    font-size: 15px;
    color: black;
    font-weight: 700;
    line-break: auto;
}

.listBox_result {
    margin-left: 20px;
    font-size: 20px;
    span {
        color:#d32f2f;
        font-size: 30px;
        font-weight: 700;
    }
}

.image_tag {
    display: block;
}

select {
    display: inline!important;
}

.area-control {
    width: 150px;
}

.section-control {
    width: 150px;
}