.fc-day-other {
    .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
      color: grey;
    }
  }
  
  // 土曜日
  .fc-day-sat {
    .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
      color: blue;
    }
  }
  
  // 日曜日
  .fc-day-sun{
    .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
      color: red;
    }
  }

  .fc-button {
    margin-left: 20px;
  }
  
  #calendarModal {
    position: absolute;
    top: 50%;
    z-index: 99
  }

  #modal1 {
    z-index: 1003;
    display: none;
    opacity: 0;
    top: 4%;
    transform: scaleX(0.8) scaleY(0.8);
}
  