<body>
<footer class="page-footer style="display:none;">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text jgc-news">JGC News</h5>
        <p class="grey-text text-lighten-4">JGC's communication tool</p>
      </div>
      <div class="col l5 s12">
        <h5 class="white-text">Legal</h5>
          <ul>
            <li><a class="text-lighten-3" href="#!">Terms of Use</a></li>
            <li><a class="text-lighten-3" href="#!">Act on the Protection of Personal Information</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><%= link_to "SCHEDULE/EVENT",schedules_path,class: "text-lighten-3" %></li>
            <li><%= link_to "NEWS", news_index_path, class: "text-lighten-3"  %></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © JGC News
    <% if current_user %>
    <%= link_to "Withdrawal", "#modal5", class:"waves-effect waves-light modal-trigger grey-text text-lighten-4 right" %>
    <!-- Modal Structure -->
    <div id="modal5" class="modal">
      <div class="modal-content">
        <h4>Withdrawal process</h4>
        <p>if you continue withdrawal process, you cannot use all services.<br>
        when you use this site again, you need to contact admin.<br>
        Are you sure to withdrawal?</p>
      </div>
      <div class="modal-footer">
      <%= link_to "Withdrawal", withdrawal_path(current_user.id), method: :delete, class: "waves-effect waves-green"%>
      </div>
      </div>
      <% end %>
    </div>
  </div>
</footer>
</body>


